@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #fbfbfb;
}
.About .why{ 
  margin-top: 10rem;
}
.About .About_head {
  font-size: 3.21429rem;
  color: #515c6a;
  padding: 120px 0px;
  padding-left: 70px;
  font-weight: 700;
}
.About .txt {
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.About .social-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.About i {
  font-size: 20px;
  line-height: 30px;
  transition: 0.6s;
  color: #000;
}
.About a {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5rem;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.About i:hover {
  transition: 0.6s;
  color: white;
}
.About a:hover {
  color: white;
  background-image: radial-gradient(
    circle,
    #110f1d,
    #222150,
    #3b2f86,
    #5e3bbe,
    #8b41f6
  );
  box-shadow: inset 0 5px 4px rgba(0, 0, 0, 0.5);
}
.discover {
  padding-right: 25%;
  display: flex;
  justify-content: end;
}
.discover p {
  padding-right: 2%;
  font-weight: 700;
  color: 2b2b2b;
}
.discover i {
  color: white;
  font-size: 15px;
  background-color: #a74ef4;
  padding: 20px;
  border-radius: 50%;
  transition: .3s;
}
.discover i:hover{
  background: #fbfcfc;
  color: #050801;
  box-shadow: 0 0 5px #fff;
  transition: .3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading {
  margin-top: 5rem;
  font-size: 30px;
}
.input-area {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}
.text {
  height: 7rem;
  border: none;
  resize: none;
  outline: none;
}
.text-style {
  padding: 10px;
  width: 100%;
  border: 1px solid #ededee;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0, 0.3);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}
.radio-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  background-image: linear-gradient(
    to top,
    #7000f9,
    #7916fa,
    #8224fb,
    #892efc,
    #9138fd
  );
  border-radius: 30px;
  width: 100%;
  margin-bottom: 5rem;
}
.btn-submit:hover {
  background-image: linear-gradient(
    to top,
    #f2ebfa,
    #f9f5fd,
    #f2eef7,
    #f7f4fc,
    #f9f7fc
  );
  border-radius: 30px;
  color: #9138fd;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.check a {
  color: #9138fd;
  text-decoration: none;
}
.why {
  margin-top: 10rem;
  margin-left: 7rem;
}
.why span {
  color: #515c6a;
  font-size: 45px;
  font-weight: 700;
}
.why h1 {
  font-size: 50px;
  font-weight: 700;
  color: #140d26;
  margin-bottom: 5rem;
}
.content {
  width: 31.5%;
  height: 20rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  text-align: left;
  /* margin-bottom: 10rem; */
}
.content h5{
  font-weight: 600;
  font-size: 16px;
  margin-top: 3rem;
 margin-left: 2rem;
}
.content p{  
  font-size: 13px;  
  opacity: 0.6;
 margin-left: 3rem;
}
.card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.manager-card .compont {
  width: 30%;
  height: 16rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 20px;
  text-align: center;
}
.card-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.compont h5 {
  margin: 1.5rem 0rem;
}
.compont button {
  border: none;
  outline: none;
  color: black;
}
.compont button:hover {
  color: #7404fd;
}
#full-footer {
  width: 100%;
  height: 100%;
  background-color: #0b0a15;
}
.footer {
  margin-top: 5rem;
  background-color: #0b0a15;
}
.footer .tag {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}
.footer a {
  text-decoration: none;
  color: #dfdfe9;
  display: flex;
  padding: 0.5rem;
  font-size: 14px;
}
.footer a:hover {
  color: rgb(80, 80, 224);
}
.end {
  text-align: center;
}
.end .logo {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.end p {
  color: white;
  letter-spacing: 2px;
}
.logo p {
  font-size: 15px;
  width: 25px;
  height: 25px;
  background-color: #f2eef7;
  color: #222150;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .card-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card-component .compont {
    margin-bottom: 2rem;
    width: 23rem;
    height: 100%;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 23rem;
    margin-top: 2rem;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .About .social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
  .discover {
    margin-top: 2rem;
  }
  .radio-input label{
    margin: 1rem;
    
  }
}
@media (max-width: 576px) {
  .contact .input-area{
    width: 100%;
  }
  .radio-input label{
    margin: 1rem;    
  }
}
.d-flex button{
  background-image: linear-gradient(to bottom, #a04bf4, #9a48f5, #9445f5, #8d42f6, #863ff7);
  color: white;
  border-radius: 20px;  
  font-size: 14px;
  padding: 8.00002px 20px;
  margin: 0px 80px 0px px;
  font-family: 'Poppins', sans-serif;
}
.d-flex button:hover{
  background: #fbfcfc; 
  box-shadow: 0 0 5px #fff,
              0 0 10px #fff;
 color: #a04bf4;
             
  
}
.navbar{
  background-image: linear-gradient(to right, #2d2841, #27233a, #221f33, #1c1a2d, #171626, #171526, #181427, #191327, #22152e, #2c1633, #361738, #42173b);
}
  .navbar-nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5rem;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #ffff;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

/* header */
.imade img {
  width: 400px;
  height: 400px;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-right: 0rem;
  border-style: solid;
}

.wholetext {
  font-family: 'Poppins', sans-serif;
}
.main-page__title-block{
  margin-top: 5rem;
}
.main-page__title {
  color: #fff;
  display: block;
  font-family: Poppins,sans-serif;
  font-size: 3.57143rem;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  text-align: left;
  align-items: flex-start;
}
.main-page__title--big {
  font-size: 50px;
  line-height: 1.3;
}
.main-page__title--sub {
  font-size: 50px;
  line-height: 1.3;
  text-transform: capitalize;
}

.main-page__description {
  color: #fff;
  font-family: Poppins,sans-serif;
  margin-bottom: 1.14286rem;
  
}
.main-page__description p {
    font-size: 16px;
    line-height: 2.14286rem;
}
.main-page__description p {
  font-weight: 400;
}
.main-page__button-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.main-page__button-text {
  color: #fbfbfb;
  font-family: Poppins,sans-serif;
}
.main-page__button-text a{
  width: 3.92857rem;
  height: 3.92857rem;
  color: #0A0C16;
  background-color: #A74EF4;
  margin-left: 24.9999px;
  padding: 18px; 
  border-radius: 50%;
  transition: .3s;
}
.main-page__button-text a:hover{
  background: #fbfcfc;
  color: #050801;
  box-shadow: 0 0 5px #fff;
  transition: .3s;
}
.gradient__bg{
  background-image: linear-gradient(to right top, #292546, #262242, #231f3f, #211d3b, #1e1a38, #211939, #231839, #261739, #2f173c, #38173f, #411640, #4a1541);
}
@media (max-width: 496px){
  .imade img{
    width: 80%;
    height: 80%;
  }
  .itout h1, .partner h1{
    font-size: 3.14rem;
  }
 
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #823DF7;
}



.opacity h1{
  font-size: 15rem;
  opacity: 0.1;  
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  overflow: hidden;
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 577px){
  .opacity h1{
   display: none;
  }
  .why h1 {
    font-size: 25px;
  }
  .why span {    
    font-size: 25px;    
  }
  .why {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
.About{
  overflow: hidden;
  margin-bottom: 8rem;
}
.base{
  margin-bottom: 3rem;
}
.image{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.image__img{
  display: block;
  width: 100%;
  height: 100%; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
}
.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
}
.image__overlay--blur:hover{
  filter: blur(10px);
}
.image__overlay:hover{
  opacity: 10;
  cursor: pointer;
}
.image__title{
  font-size: 2em;
  font-weight: bold;
}
.Portfolio_content{
  margin-bottom: 8rem;
}

.Services_d h1{
  position: fixed;
  top: 40%; 
}
.Services_d p{
  position: fixed;
  top: 60%; 
}
.Services_d a{
  position: fixed;
  top: 60%; 
}

.side_heading h1{
  font-size: 50px;
  font-weight: 700;
  padding: 0px 0px 70px;
}
.side_phara p{
  font-size: 14px;
  font-weight: 700;
  margin: 0px 70px 0px 0px;
  color: #333333;
}
.side_phara i{
  padding: 1.1rem;
  background-color: #A74EF4;
  border-radius: 50%;
  color: white;
  
}
.side_phara i:hover{
  background: #fbfcfc;
  color: #050801;
  box-shadow: 0 0 5px #fff;
  transition: .3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.side_phara{
  display: flex;
  flex-direction: row;
}
.over_folw{
  overflow: hidden;
  margin-top: 8rem;
  padding-bottom: 5rem;
}
.side_develope{
  width: 90%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-left: 10%;
}
.side_develope img{
  width: 100%;
  height: 60%;
  border-radius: 50px;
  padding: 5%;
}
.side_develope h6,p{
    padding: 0 1% 0 5%; 
}
.side_develope p{
  font-size: 13px;  
  opacity: 0.6;
}
.over-service{
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  }
 .About-service{
  overflow: hidden;
  margin-bottom: 8rem;
}
.exper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-decoration: none; */
  list-style: none;
  text-transform: capitalize;
  color: #000000;
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 20px;
  margin-top: 3rem;
  font-weight: 350;
  padding: 0 80px 0 80px;
}
.exper a{
  text-decoration: none;
  color: #050801;
}
.card-size{
  width: 100%;
  height: 16rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  border-radius: 20px;
  margin: 1rem;
  margin-top: 1.5rem;
  }
  .space{
    display: flex;
    justify-content: space-between;
  }
  .card-size:hover{
    /* width: 110%;
    height: 18rem; */
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
}
    
    